:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --link-accent-color: #7d7d7d;
  --icon-accent-color: #ffffff;
  --btn-accent-color: #188ce8;
  --btn-bg-color: #2196f3;
  --btn-text-color: #ffffff;
  --secondbtn-text-color: #212121;
  --main-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --main-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --main-link-color: #212121;
  --main-contact-color: #757575;
  --main-adress-color: #ffffff;
  --main-border-color: #ececec;
  --second-border-color: #eeeeee;
  --main-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

address {
  font-style: normal;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
  transition: color var(--duration) var(--cubic);
}

.pointer {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.navigation__item .link.current,
.navigation__link:hover,
.contact__link:hover,
.navigation__link:focus,
.contact__link:focus,
.footer-adr:hover,
.footer-contact:hover,
.footer-adr:focus,
.footer-contact:focus,
.mob-menu-navigation__link:hover,
.mob-menu-navigation__link:focus {
  color: var(--accent-color);
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--duration) var(--cubic), visibility var(--duration) var(--cubic);
}

.modal {
  position: absolute;
  padding: 40px;
  width: 320px;
  min-height: 581px;
  background-color: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--duration) var(--cubic);
}
@media screen and (min-width: 480px) {
  .modal {
    width: 450px;
    min-height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background: inherit;
  border-radius: 50%;
  fill: currentColor;
  transition: color var(--duration) var(--cubic);
}
.close-btn:hover, .close-btn:focus {
  fill: var(--accent-color);
}

.modal-title {
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-title-color);
}
@media screen and (min-width: 1200px) {
  .modal-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
  }
}

.input-field {
  margin-bottom: 10px;
}

.modal-form > .comment {
  margin-bottom: 18px;
}

.lable-input {
  display: block;
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-input:focus {
  outline-color: var(--btn-accent-color);
}
.form-input::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-input:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-comment {
  padding: 12px 16px;
  width: 100%;
  height: 118px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-comment:focus {
  outline-color: var(--btn-accent-color);
}
.form-comment::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-comment:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.form-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

/* .form-input:not(focus):not(:placeholder-shown):valid {
  border-color: green;
}

.form-input:not(focus):not(:placeholder-shown):invalid {
  border-color: red;
} */
.check-lable {
  display: block;
  padding-left: 35px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  position: relative;
  margin-bottom: 30px;
}
@media screen and (min-width: 1200px) {
  .check-lable {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
  }
}

.check-box {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-link-color);
  border-radius: 2px;
  position: absolute;
  top: 50%;
  left: 13px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: background-color var(--duration) var(--cubic);
}
.input-check:focus + .check-box {
  border-color: var(--accent-color);
}
.input-check:focus + .check-box, .check-box:hover {
  border-color: var(--accent-color);
}
.input-check:checked + .check-box {
  background-color: var(--accent-color);
  border: none;
}

.check-icon {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  fill: transparent;
  transition: fill var(--duration) var(--cubic);
}
.input-check:checked + .check-box .check-icon {
  fill: #ffffff;
}

.input-check {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.check-link {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: var(--accent-color);
}

.secondary-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 30px;
  min-width: 200px;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.btn {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--btn-text-color);
  background: var(--btn-bg-color);
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  padding: 10px 32px;
  transition: background-color var(--duration) var(--cubic);
}
.btn:hover, .btn:focus {
  background-color: var(--btn-accent-color);
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid var(--main-border-color);
}
@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .header__container {
    justify-content: space-between;
  }
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list,
.header__contact {
  display: flex;
  margin-left: auto;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

@media screen and (max-width: 1199px) {
  .header__contact {
    flex-direction: column;
    gap: 10px;
  }
}

@media screen and (max-width: 767px) {
  .navigation__list,
.header__contact {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .contact__item {
    display: flex;
    margin-left: auto;
    -moz-column-gap: 50px;
         column-gap: 50px;
  }
}

.logo,
.logo__black {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.navigation__logo {
  color: var(--main-logo-color);
  margin-right: 93px;
}

.logo__black {
  color: var(--second-logo-color);
}

.navigation__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-link-color);
}

.contact__link {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--main-contact-color);
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .contact__link {
    font-weight: 500;
    line-height: 1.14;
  }
}

.current {
  color: var(--accent-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -38px;
  transform: translate(-50%, -100%);
  width: calc(100% + 3px);
  height: 4px;
  background: var(--accent-color);
  border-radius: 2px;
  pointer-events: none;
}
@media screen and (max-width: 767px) {
  .current::after {
    display: none;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;
}
.contact__link:hover .contact__icon, .contact__link:focus .contact__icon {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .icon-openmenu {
    border-color: transparent;
    background: none;
    fill: currentColor;
    transition: color var(--duration) var(--cubic);
  }
  .icon-openmenu:hover, .icon-openmenu:focus {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 768px) {
  .icon-openmenu {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .mob-menu {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media screen and (min-width: 768px) {
  .mob-menu {
    display: none;
  }
}
.mob-menu > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.icon-closemenu {
  display: block;
  margin-left: auto;
  border-color: transparent;
  background: none;
  fill: currentColor;
  transition: color var(--duration) var(--cubic);
}
.icon-closemenu:hover, .icon-closemenu:focus {
  fill: var(--accent-color);
}

.mob-menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
}

.current {
  color: var(--accent-color);
}

.mob-menu-contact {
  margin-bottom: 64px;
}

.mob-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.mob-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: #757575;
}

.mob-menu-soc {
  display: flex;
}

.mob-menu-soc__list:not(:last-child) {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}
.mob-menu-soc__list:not(:last-child) {
  padding-right: 10px;
}
.mob-menu-soc__list:not(:first-child) {
  padding-left: 10px;
}

.mob-menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: #2196f3;
}

@media screen and (max-width: 1199px) {
  .hero .container {
    padding: 0;
  }
}

.hero {
  background-color: var(--second-bg-color);
  background-image: var(--bg-gradient), url(../images/hero-bg-mobile-1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-mobile-2x.jpg);
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tablet-1x.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-tablet-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-desktop-1x.jpg);
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/hero-bg-desktop-2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__title {
  font-weight: 900;
  font-size: 22px;
  max-width: 320px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-title-color);
  margin: 0 auto;
}
@media screen and (min-width: 480px) {
  .hero__title {
    font-size: 26px;
    line-height: 1.62;
    max-width: 360px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
}

.hero__btn {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  margin-top: 30px;
}
@media screen and (max-width: 1199px) {
  .hero__btn {
    min-width: 200px;
    padding: 10px 24px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__btn {
    min-width: 216px;
  }
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.features-list__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .features-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .features-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.features-list__image {
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #afb1b8; */
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-list__title {
  display: flex;
  justify-content: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-title-color);
}
@media screen and (min-width: 768px) {
  .features-list__title {
    justify-content: left;
  }
}

.features-list__text {
  line-height: 2;
  margin-top: 10px;
}
@media screen and (min-width: 1200px) {
  .features-list__text {
    line-height: 1.71;
  }
}

.business {
  padding-bottom: 94px;
}
@media screen and (max-width: 1199px) {
  .business {
    display: none;
  }
}

.business__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
}

.activities-list {
  margin-top: 50px;
  display: flex;
  gap: 30px;
}

.activities-list__item {
  width: calc((100% - 60px) / 3);
  position: relative;
}

.activities-list__text {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.team {
  background-color: var(--third-bg-color);
}

.team__title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.team-list__item {
  width: 100%;
  background-color: var(--main-bg-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@media screen and (min-width: 768px) {
  .team-list__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list__item {
    width: calc((100% - 90px) / 4);
  }
}

.team-list__wrap {
  padding: 30px 5px;
}

.team-list__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--main-title-color);
}

.team-list__text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.social-list__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color var(--duration) var(--cubic);
}
.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
}

.social-list__icon {
  fill: var(--main-icon-color);
  transition: fill var(--duration) var(--cubic);
}
.social-list__link:hover .social-list__icon, .social-list__link:focus .social-list__icon {
  fill: var(--icon-accent-color);
}

.clients-title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  color: var(--main-title-color);
}
@media screen and (min-width: 1200px) {
  .clients-title {
    font-size: 36px;
  }
}

.clients-img {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: center;
  gap: 30px;
}
@media screen and (min-width: 1200px) {
  .clients-img {
    margin-top: 50px;
  }
}

.clients-img-item {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  height: 92px;
  transition: border-color var(--duration) var(--cubic);
}
@media screen and (max-width: 767px) {
  .clients-img-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 768px) {
  .clients-img-item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients-img-item {
    width: 170px;
  }
}
.clients-img-item:hover, .clients-img-item:focus {
  border-color: var(--accent-color);
}

.clients-img-link {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.clients-img-icon {
  fill: var(--main-icon-color);
  transition: fill var(--duration) var(--cubic);
}
.clients-img-link:hover .clients-img-icon, .clients-img-link:focus .clients-img-icon {
  fill: var(--accent-color);
}

.footer-adr:hover,
.footer-contact:hover,
.footer-adr:focus,
.footer-contact:focus {
  color: var(--accent-color);
}

.footer {
  background-color: var(--second-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (max-width: 1199px) {
  .footer-contacts,
.footer-list,
.footer-join,
.footer-signup,
.footer-form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer-logo,
.footer-logo-white {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo {
  color: var(--main-logo-color);
}

.footer-logo-white {
  color: var(--third-logo-color);
}

.footer-address {
  margin-top: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-item:not(:first-child) {
    margin-top: 8px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-item:not(:first-child) {
    margin-top: 9px;
  }
}

.footer-adr,
.footer-contact {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
}

.footer-adr {
  color: var(--main-adress-color);
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

@media screen and (max-width: 767px) {
  .footer .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .footer .container {
    display: flex;
  }
}

@media screen and (min-width: 768px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
    gap: 165px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-tablet {
    display: flex;
    justify-content: center;
    gap: 70px;
  }
}

@media screen and (max-width: 767px) {
  .footer-join {
    margin-top: 60px;
  }
}

.footer-action {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: var(--second-text-color);
}

.footer-soc {
  display: flex;
  gap: 10px;
}
@media screen and (min-width: 1200px) {
  .footer-soc {
    justify-content: center;
  }
}

.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.1);
  transition: background-color var(--duration) var(--cubic);
}
.footer-soc-link:hover, .footer-soc-link:focus {
  background-color: var(--accent-color);
}

.footer-soc-icon {
  fill: var(--second-icon-color);
  transition: fill var(--duration) var(--cubic);
}
.footer-soc-link:hover .footer-soc-icon, .footer-soc-link:focus .footer-soc-icon {
  fill: var(--icon-accent-color);
}

.footer-text {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--btn-text-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 1199px) {
  .footer-signup {
    margin-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-signup {
    width: calc(50% - 15px);
    margin-left: auto;
  }
}

.footer-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  outline: none;
  transition: border-color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic);
  cursor: pointer;
  width: 320px;
  margin-bottom: 20px;
}
@media screen and (min-width: 480px) {
  .footer-input {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-input {
    width: 100%;
    margin-bottom: 0;
  }
}
.footer-input:hover {
  border-color: var(--accent-color);
}
.footer-input:focus {
  border-color: whitesmoke;
  box-shadow: 0px 0px 0px 1px whitesmoke;
}

@media screen and (min-width: 1200px) {
  .footer-form {
    display: flex;
    gap: 12px;
  }
}

.footer-form > .primary-btn {
  gap: 10px;
}

.third-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 0 auto;
  width: 200px;
}

.send-icon {
  fill: var(--second-icon-color);
}

.filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media screen and (max-width: 767px) {
  .filter-list {
    max-width: 326px;
  }
}
@media screen and (min-width: 768px) {
  .filter-list {
    justify-content: center;
  }
}

.filter-btn {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  background-color: var(--third-bg-color);
  border-color: transparent;
  border-radius: 4px;
  color: var(--secondbtn-text-color);
  padding: 6px 22px;
  transition: background-color var(--duration) var(--cubic), color var(--duration) var(--cubic), box-shadow var(--duration) var(--cubic);
}
.filter-btn:hover, .filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--btn-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
@media screen and (max-width: 767px) {
  .filter-cards {
    margin-top: 40px;
  }
}
@media screen and (min-width: 768px) {
  .filter-cards {
    margin-top: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .filter-cards {
    margin-top: 34px;
  }
}

.filter-item {
  background-color: var(--main-bg-color);
  width: 100%;
}
@media screen and (min-width: 768px) {
  .filter-item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .filter-item {
    width: calc((100% - 60px) / 3);
  }
}

.filter-link {
  display: block;
}
.filter-link:hover, .filter-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.filter-thumb {
  position: relative;
  overflow: hidden;
}

.filter-overlay {
  position: absolute;
  left: 0;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: var(--duration) var(--cubic);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
  background: rgba(33, 150, 243, 0.9);
  /* overflow: auto; */
}
.filter-link:hover .filter-overlay, .filter-link:focus .filter-overlay {
  transform: translateY(0);
}

.filter-wrap {
  padding: 20px 24px;
  border-right: 1px solid var(--second-border-color);
  border-bottom: 1px solid var(--second-border-color);
  border-left: 1px solid var(--second-border-color);
}

.filter-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-title-color);
}
.filter-title:hover, .filter-title:focus {
  color: var(--link-accent-color);
}

.filter-text {
  font-size: 16px;
  line-height: 1.88;
  color: var(--main-text-color);
  margin-top: 4px;
}/*# sourceMappingURL=main.css.map */