:root {
  --main-title-color: #212121;
  --second-title-color: #ffffff;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --link-accent-color: #7d7d7d;
  --icon-accent-color: #ffffff;
  --btn-accent-color: #188ce8;
  --btn-bg-color: #2196f3;
  --btn-text-color: #ffffff;
  --secondbtn-text-color: #212121;
  --main-bg-color: #ffffff;
  --second-bg-color: #2f303a;
  --third-bg-color: #f5f4fa;
  --main-logo-color: #2196f3;
  --second-logo-color: #000000;
  --third-logo-color: #ffffff;
  --main-link-color: #212121;
  --main-contact-color: #757575;
  --main-adress-color: #ffffff;
  --main-border-color: #ececec;
  --second-border-color: #eeeeee;
  --main-icon-color: #afb1b8;
  --second-icon-color: #ffffff;
  --duration: 250ms;
  --cubic: cubic-bezier(0.4, 0, 0.2, 1);
  --bg-gradient: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
}
