.header {
  padding-top: 10px;
  padding-bottom: 10px;

  @include tablet {
    padding-top: 21px;
    padding-bottom: 21px;
  }

  @include desktop {
    padding-top: 24px;
    padding-bottom: 25px;
  }

  border-bottom: 1px solid var(--main-border-color);
}

.header__container {
  @media screen and (max-width: 767px) {
    justify-content: space-between;
  }
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation__list,
.header__contact {
  display: flex;
  margin-left: auto;
  column-gap: 50px;
}

.header__contact {
  @media screen and (max-width: 1199px) {
    flex-direction: column;
    gap: 10px;
  }
}

.navigation__list,
.header__contact {
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.contact__item {
  @include desktop {
    display: flex;
    margin-left: auto;
    column-gap: 50px;
  }
}

.logo,
.logo__black {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.navigation__logo {
  color: var(--main-logo-color);
  margin-right: 93px;
}

.logo__black {
  color: var(--second-logo-color);
}

.navigation__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-link-color);
}

.contact__link {
  display: flex;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  @include desktop {
    font-weight: 500;
    line-height: 1.14;
  }

  color: var(--main-contact-color);
  align-items: center;
}

.current {
  color: var(--accent-color);
  position: relative;

  &::after {
    @media screen and (max-width: 767px) {
      display: none;
    }

    content: '';
    position: absolute;
    left: 50%;
    bottom: -38px;
    transform: translate(-50%, -100%);
    width: calc(100% + 3px);
    height: 4px;
    background: var(--accent-color);
    border-radius: 2px;
    pointer-events: none;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: #757575;

  .contact__link:hover &,
  .contact__link:focus & {
    fill: var(--accent-color);
  }
}

.icon-openmenu {
  @media screen and (max-width: 767px) {
    border-color: transparent;
    background: none;

    fill: currentColor;
    transition: color var(--duration) var(--cubic);

    &:hover,
    &:focus {
      fill: var(--accent-color);
    }
  }

  @include tablet {
    display: none;
  }
}

.mob-menu {
  @media screen and (max-width: 767px) {
    position: fixed;
    background-color: #ffffff;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  @include tablet {
    display: none;
  }
  > .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

// .icon-closemenu

.icon-closemenu {
  display: block;
  margin-left: auto;
  border-color: transparent;
  background: none;

  fill: currentColor;
  transition: color var(--duration) var(--cubic);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

// .mob-menu-navigation {
//   margin-bottom: 302px;
// }

// .mob-menu-navigation__list

.mob-menu-navigation__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-navigation__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #212121;
}

.current {
  color: var(--accent-color);
}

.mob-menu-contact {
  margin-bottom: 64px;
}

.mob-menu-contact__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-contact__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: #2196f3;
}

.mob-menu-contact__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: #757575;
}

.mob-menu-soc {
  display: flex;
}

.mob-menu-soc__list {
  &:not(:last-child) {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
  }

  &:not(:last-child) {
    padding-right: 10px;
  }

  &:not(:first-child) {
    padding-left: 10px;
  }
}

.mob-menu-soc__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: #2196f3;
}
